<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="static/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts Link For Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link rel="icon" type="image/x-icon" href="static/images/logo.png">
  <title>Medins</title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
    rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="" />
            <span>
              Medins
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/contact">Contact Us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

 <!-- about section -->
  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <br>
                Our <br>
                Assistant
              </h2>
              <hr>
            </div>
            <p>Our health is not in our control, we man face many diseases in the future or we may even face accidents. Keeping in view the costly treatments, it becomes very difficult for many people to bear it. Our chatbot can help you and feel you secured.</p>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="static/images/hero-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <section class="hot_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Medical Insurances 
        </h2>
        <hr>
      </div>
      <p>
        We provides <b>5</b> insurance policies
      </p>
    </div>
    <div class="policy_container">
      <div class="container">

        <p>
          <h5>
            <i class="fa-solid fa-1" style="color:white; background:linear-gradient(to right, #51b5ef, #436bf1); padding: 2px 8px;
            margin-right: 5px;"></i>
            Care Supreme: All-in-One Coverage for Families, Individuals, & Parents
          </h5>
          <p style="text-align: justify;">
            Care Health Insurance introduces Care Supreme—The Health Insurance You Deserve. </p>
          <button class="policy_btn" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Read More
          </button>
        </p>
        <div class="collapse" id="collapse1">
          <div class="card card-body">
          <p>Care Supreme is one of our most promising health insurance plans for family offering unrestricted coverage with no sub-limits 
            under medical expenses. The policy offers wide-ranging sum insured options, including 7, 10, and 15 lakh of coverage. 
            This unparalleled medical insurance plan includes benefits like 60-day pre and 180-day post-hospitalization coverage, 
            540+ day care treatment cover, cumulative bonus up to 100%, unlimited automatic recharge, and e-consultations. What’s unique 
            is that Care Supreme offers unbounded coverage up to the sum insured for features like advanced technology procedures, 
            in-patient care, AYUSH treatment, domiciliary hospitalization, and organ donor cover.</p>
          <p>To enhance your healthcare coverage, we offer several add-on covers under Care Supreme, including– annual health check-ups 
            to help you keep track of your health, cumulative bonus super to boost your coverage amount up to 500%, wellness benefits to 
            encourage a healthy lifestyle, and air ambulance cover for quick transport and claim shield. The medical insurance also offers 
            an option to customize your add-on covers.</p>
          <p>With a network of 22,900+ cashless healthcare providers, Care Insurance offers optimum medical insurance benefits through Care 
            Supreme. The plan is perfect for securing all types of lives, from individuals and couples to families and senior citizen parents, 
            while enjoying a lifetime renewability feature. Also, the policy involves a seamless claim settlement process involving cashless 
            and reimbursement methods that help you settle hospital bills stress-free. </p>
          <p>So, switch to the right health insurance for your family with Care Supreme and gift your family health and financial security 
            for a lifetime.</p>
          <p>Disclaimer: Information above is just for reference. Kindly refer T&C of policy thoroughly, Do refer IRDAI guidelines for tax 
            exemption conditions.</p>
          <p>* Number of Cashless Healthcare Providers as of 30th June 2023</p>
          <p>* Number of Claims Settled as of 31st May 2023</p>
          <p>* 5% digital discount applicable as per policy terms. Renewal discounts are offered if you meet the wellness goals set under 
            the wellness benefit program.</p>
        </div>

      </div>
    </div>
    <div class="policy_container">
      <div class="container">

        <p>
          <h5>
            <i class="fa-solid fa-2" style="color:white; background:linear-gradient(to right, #51b5ef, #436bf1); padding: 2px 8px;
            margin-right: 5px;"></i>
            Individuals Health Guard - Gold
          </h5>
          <p style="text-align: justify;">Health Guard Policy provides you with a comprehensive range of benefits, ensuring you are covered
            for the larger expenses related to Illness/surgery.</p>
          <button class="policy_btn" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Read More
          </button>
        </p>
        <div class="collapse" id="collapse2">
          <div class="card card-body">
          <p>Bajaj Allianz's Health Guard is designed to suit all your health care needs. It takes care of the medical
            treatment expenses incurred during hospitalization resulting from serious illness or accident. This cover
            has comprehensive benefits with affordable price suitable to your needs.
            Your health is precious to you - it enables you to live your life the way you please. But a sudden illness or
            accident can put a stop to your way of living and empty your savings. Protect yourself from the financial
            burden at the time of hospitalization with the Bajaj Allianz Health Guard Policy. Now you don't ever have to
            worry about not having enough money for treatment in case things go wrong. </p>
          <p>
            <b>What are the Plans available under Health Guard policy?</b> <br>
            There are two plans available <br>
            • Silver Plan <br>
            • Gold Plan 
          </p>
          <p>
            <b>What are the Sum Insured options available under the policy?</b> <br>
            • Health Guard – Silver Plan: Rs.1.5/2lacs <br>
            • Health Guard – Gold Plan: 3/4/5/7.5/10/15/20/25/30/35/40/45/50lacs
          </p>
          <p>
            <b>What is the entry age?</b> <br>
            • Proposer /Spouse /Parents/Sister/ Brother/ Father In law/ Mother In law/ Aunt/ Uncle 18 yrs to 65 years <br>
            • Dependent Children/Grandchildren: 3 months – 30 yrs
          </p>
          <p>
            <b>Is there any pre-policy check up for enrolling under Health Guard policy?</b> <br>
            • Applicable only for new proposals <br>
            • No Medical tests upto 45 years, subject to no adverse health conditions <br>
            • Medical tests would be advised for the below adverse health conditions: <br>
            1. Diabetes <br>
            2. Hypertension <br>
            3. Lipid Disorders <br>
            4. Combination of any of the above <br>
            5. Obesity <br>
            6. Joint Disorders <br><br>
            • Medical tests (pre-policy check up) are mandatory for members above 45 years. <br>
            • The pre-policy check up would be arranged at our empanelled diagnostic centers. <br>
            • 100 % cost of pre-policy check up would be refunded if the proposal is accepted & policy is issued
            
          </p>
          <p>Disclaimer: Information above is just for reference. Kindly refer T&C of policy thoroughly, Do refer IRDAI guidelines for tax 
            exemption conditions.</p>
        </div>

      </div>
    </div>
    <div class="policy_container">
      <div class="container">

        <p>
          <h5>
            <i class="fa-solid fa-3" style="color:white; background:linear-gradient(to right, #51b5ef, #436bf1); padding: 2px 8px;
            margin-right: 5px;"></i>
            RELIANCE HEALTH GAIN POLICY
          </h5>
          <p style="text-align: justify;">The No Compromise Health Policy, That Lets You Customise Plans Accordingly.
            </p>
          <button class="policy_btn" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            Read More
          </button>
        </p>
        <div class="collapse" id="collapse3">
          <div class="card card-body">
          <p>Health insurance policies are a bundle of certain standard benefits,
            that help you in case of unforeseen medical situations. But sometimes,
            policies fall short, that is, either they lack certain benefits or have
            some that you may not even need. Like, maybe you desperately
            wanted a vaccination cover in your policy for your kids, but your
            policy doesn’t offer that. Only in moments like these where you
            wished, ‘you could design your own health policy and choose only
            what you need.’ Well, we heard you, and that is why, we bring to you
            a health policy that is extremely fluid and modular, one that is
            customisable to suit exactly ‘what you want’. With the boost of 3
            power packed plans Plus, Power and Prime you get the flexibility to
            pick and choose any benefits at any sum-insured which makes it a
            Zero Compromise & 100% Aapki Choice policy. So go ahead and
            ‘make-your own’ health insurance plan right away!</p>
          <p>
            <h4>Here’s What’s New?</h4> <br>
            <b>Sum Insured Doubled, Without Any Trouble*</b>
            Get 100% base sum-insured over and above, to be used on the
            same claim <br> <br>
            <b>Room rent limits, No limits*</b>
            Increase/Decrease your hospital room rent limits or even upgrade/downgrade your room category as you like. <br> <br>
            <b>Reduced Waiting Period*</b>
            Waiting period can be reduced from 3 years to 2 years or 1 year. <br> <br>
            <b>Cash-in-Hand Is Always Better, Man*</b>
            Get daily cash for 30 days in case of normal hospitalisation of beyond 72 hours; in case of ICU hospitalisation get 2x of
            normal hospitalisation cash for 15 days. <br> <br>
            <b>Premium On Critical Illness Waived Off*</b>
            Renewal premium is waived off for the first year of detection of any listed critical illness. <br> <br>
            <b>Voluntary Aggregate Deductible*</b> 
            Get a significant discount on your insurance premium when you
            agree to pay a certain aggregate deductible amount during
            multiple claims in a policy period. <br> <br>
            <b>Removal of Co-payment*</b> 
            If an insured person buys his first policy at the of age 61 or
            above, the co-payment can be removed by opting this cover. <br> <br>
            <b>Accommodation Bonus Will Be Your Reward++</b>
            Switching to a lower room category or below, can get you
            rewarded, in the form of a daily accommodation bonus. <br> <br>
            <b>Intercity Road Ambulance++</b>
            Get Intercity Road Ambulance costs covered up to actuals^* beyond 100km. <br> <br>
            * These are optional covers and need to be opted separately while purchasing the policy. <br>
            ++ These are base features and would be applicable as per the plan selected. <br>
            ^* This is applicable for Prime customers. <br>
          </p>
          <p>With a network of 22,900+ cashless healthcare providers, Care Insurance offers optimum medical insurance benefits through Care 
            Supreme. The plan is perfect for securing all types of lives, from individuals and couples to families and senior citizen parents, 
            while enjoying a lifetime renewability feature. Also, the policy involves a seamless claim settlement process involving cashless 
            and reimbursement methods that help you settle hospital bills stress-free. </p>
        </div>

      </div>
    </div>
    <div class="policy_container">
      <div class="container">

        <p>
          <h5>
            <i class="fa-solid fa-4" style="color:white; background:linear-gradient(to right, #51b5ef, #436bf1); padding: 2px 8px;
            margin-right: 5px;"></i>
            ReAssure 2.0 Health Insurance
          </h5>
          <p style="text-align: justify;">A health insurance plan that keeps giving you more!</p>
          <button class="policy_btn" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            Read More
          </button>
        </p>
        <div class="collapse" id="collapse4">
          <div class="card card-body">
          <p>ReAssure 2.0 Health Insurance is one of our most promising health insurance plans for family offering unrestricted coverage with no sub-limits 
            under medical expenses. The policy offers wide-ranging sum insured options, including 7, 10, and 15 lakh of coverage. 
            This unparalleled medical insurance plan includes benefits like 60-day pre and 180-day post-hospitalization coverage, 
            540+ day care treatment cover, cumulative bonus up to 100%, unlimited automatic recharge, and e-consultations. What’s unique 
            is that Care Supreme offers unbounded coverage up to the sum insured for features like advanced technology procedures, 
            in-patient care, AYUSH treatment, domiciliary hospitalization, and organ donor cover.</p>
          <p>To enhance your healthcare coverage, we offer several add-on covers under ReAssure 2.0, including– annual health check-ups 
            to help you keep track of your health, cumulative bonus super to boost your coverage amount up to 500%, wellness benefits to 
            encourage a healthy lifestyle, and air ambulance cover for quick transport and claim shield. The medical insurance also offers 
            an option to customize your add-on covers.</p>
          <p>With a network of 22,900+ cashless healthcare providers, Health Insurance offers optimum medical insurance benefits through ReAssure 2.0 Health Insurance.
             The plan is perfect for securing all types of lives, from individuals and couples to families and senior citizen parents, 
            while enjoying a lifetime renewability feature. Also, the policy involves a seamless claim settlement process involving cashless 
            and reimbursement methods that help you settle hospital bills stress-free. </p>
          <p>So, switch to the right health insurance for your family with Care Supreme and gift your family health and financial security 
            for a lifetime.</p>
          <p>Disclaimer: Information above is just for reference. Kindly refer T&C of policy thoroughly, Do refer IRDAI guidelines for tax 
            exemption conditions.</p>
          <p>*Number of Cashless Healthcare Providers as of 30th June 2023</p>
          <p>^Number of Claims Settled as of 31st May 2023</p>
          <p>** 5% digital discount applicable as per policy terms. Renewal discounts are offered if you meet the wellness goals set under 
            the wellness benefit program.</p>
        </div>

      </div>
    </div>
    <div class="policy_container">
      <div class="container">

        <p>
          <h5>
            <i class="fa-solid fa-5" style="color:white; background:linear-gradient(to right, #51b5ef, #436bf1); padding: 2px 8px;
            margin-right: 5px;"></i>
            Smart Health Pro
          </h5>
          <p style="text-align: justify;">Build Your Healthcare Plan,
            The Way You Want It.</p>
          <button class="policy_btn" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            Read More
          </button>
        </p>
        <div class="collapse" id="collapse5">
          <div class="card card-body">
          <p>The healthcare plan that allows you to pay for the coverage that fits your needs.
            At STAR Health Insurance, we understand healthcare is best when it is flexible.
            With Smart Health Pro, you will have quality health coverage when you need it the
            most. You can focus on your recovery without worrying about the financial burden
            of unexpected medical expenses.</p>
          <p>
            <b>Special features of Smart Health Pro</b><br>
            • In-Patient Treatment: Hospitalization for at least 24 hrs – We will pay for the
            medical expenses up to the Sum Insured – from room and boarding expenses,
            ICU expenses, nursing expenses, surgeon, anaesthetist, medical practitioner,
            consultants, specialist fees, medicines, diagnostics and so on that are required
            medically. <br>
            • Day care Treatment: All day care procedures are covered. <br>
            • Air Ambulance: We will pay for the expenses incurred on air ambulance
            services up to 10% of Sum Insured for transporting the Insured in case of an
            emergency. <br>
            • Modern Treatment: We will pay for advanced procedures such as Robotic
            surgery, Deep Brain Stimulation, Stem Cell Therapy, Oral Chemotherapy and
            more. <br>
            • Home Care Treatment: We will pay for the medical expenses (requiring
            hospitalization) availed at home up to 10% of the Sum Insured subject to
            maximum of ₹5 lakhs in a policy year, if availed from the Network providers on
            cashless basis. <br>
            • Pre-Hospitalization Expenses: We will pay for medical expenses incurred up
            to 60 days immediately before hospitalization. <br>
            • Post-Hospitalization Expenses: We will pay for medical expenses incurred up
            to 180 days immediately after discharge from the hospital. <br>
            • Road Ambulance: We will pay for the expenses incurred on the road
            ambulance for admission in hospital, transportation from one hospital to
            another hospital and for transportation of Insured from hospital to the place of
            residence. <br>
            • Hospitalization Expenses for Treatment of New Born Baby: We will pay for
            the medical expenses of New Born baby for disease, illness from the very first
            day up to 10% of the Sum Insured and maximum up to ₹2 lakhs when mother
            is covered under this policy for a continuous period of 12 months. <br>
            • AYUSH Treatment: We will pay the Medical expenses for In-Patient
            Hospitalization incurred on treatment under Ayurveda, Unani, Siddha and
            Homeopathy systems of medicines up to the Sum Insured.
          </p>
          <p>
            <b>Optional Covers</b><br>
            • Cumulative Bonus Booster: This enhances your total coverage by providing
            additional Cumulative bonus calculated at 50% of Sum Insured for each
            claim-free year and maximum up to 600%. This enhances your total coverage
            by additional 7 times of the Sum Insured (This optional cover is available for
            Sum Insured ₹10,00,000 and above). <br>
            • Modification of Room Category: Enhances/reduces the room category as per
            your need at the inception of the policy from Private Single A/C Room to any
            Room/Shared Accommodation respectively. <br>
            • Reduction of Pre-existing Diseases Waiting Period: Reduces Pre-existing
            Disease(s) waiting period from 48 months to 36/24/12 months. <br>
            • Coverage for Non-medical Items (Consumables): Items as per List-I
            [Non-medical Items] will become payable in case of an admissible claim under
            the policy for in-patient hospitalization/day care treatment. For List-I, please
            refer website: www.starhealth.in <br>
            • Unlimited Automatic Restoration of Sum Insured: Sum Insured will be
            restored unlimited number of times and maximum up to 100% each time,
            which can be utilized for all claims in case of a subsequent hospitalization.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- end hot section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        &copy; 2024
        <a href="#">Medins</a>
      </p>
    </section>
    <!-- footer section -->


  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

<script>
  function openNav() {
    document.getElementById("myNav").classList.toggle("menu_width");
    document
      .querySelector(".custom_menu-btn")
      .classList.toggle("menu_btn-style");
  }
</script>

</body>

</html>